@import 'tailwindcss';

:root {
  --color-zatobox-50: #fbf7ef;
  --color-zatobox-100: #f2e8d3;
  --color-zatobox-200: #e4cfa3;
  --color-zatobox-300: #d6b373;
  --color-zatobox-400: #cd9c52;
  --color-zatobox-500: #c3803d;
  --color-zatobox-600: #b16835;
  --color-zatobox-700: #8f4c2e;
  --color-zatobox-800: #763e2a;
  --color-zatobox-900: #613426;
  --color-zatobox-950: #371911;
}

:root {
  --background: #ffffff;
  --foreground: #371911;
  --card: #ffffff;
  --card-foreground: #371911;
  --popover: #ffffff;
  --popover-foreground: #371911;
  --primary: #c3803d;
  --primary-foreground: #ffffff;
  --secondary: #e4cfa3;
  --secondary-foreground: #371911;
  --muted: #f2e8d3;
  --muted-foreground: #613426;
  --accent: #d6b373;
  --accent-foreground: #371911;
  --destructive: #d9373d;
  --destructive-foreground: #ffffff;
  --border: #e4cfa3;
  --input: #f2e8d3;
  --ring: #c3803d;
  --chart-1: #c3803d;
  --chart-2: #b16835;
  --chart-3: #8f4c2e;
  --chart-4: #763e2a;
  --chart-5: #613426;
  --radius: 0.5rem;
  --sidebar-background: #fbf7ef;
  --sidebar-foreground: #371911;
  --sidebar-primary: #c3803d;
  --sidebar-primary-foreground: #ffffff;
  --sidebar-accent: #e4cfa3;
  --sidebar-accent-foreground: #371911;
  --sidebar-border: #d6b373;
  --sidebar-ring: #c3803d;
}
