@import 'tailwindcss';

:root {
  --color-zatobox-50: #fbf7ef;
  --color-zatobox-100: #f2e8d3;
  --color-zatobox-200: #e4cfa3;
  --color-zatobox-300: #d6b373;
  --color-zatobox-400: #cd9c52;
  --color-zatobox-500: #c3803d;
  --color-zatobox-600: #b16835;
  --color-zatobox-700: #8f4c2e;
  --color-zatobox-800: #763e2a;
  --color-zatobox-900: #613426;
  --color-zatobox-950: #371911;
}
